<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white px-2">
          <h3 class="card-title mb-0 text-center mb-4 bg-primary text-white">
            Selected Details
          </h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Country:</strong> {{ selectedCountry }}
          </p>
          <p class="card-text"><strong>City:</strong> {{ selectedCity }}</p>
          <p class="card-text"><strong>School:</strong> {{ selectedSchool }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
